# Astro
dist/
.astro/

# Dependencies
node_modules/

# macOS
.DS_Store

# Env
.env
.env.production

# Tina
tina/__generated__/
!tina/__generated__/_graphql.json
!tina/__generated__/_schema.json
!tina/__generated__/types.ts
public/admin/
